[submodule "Blind/vendor/spdlog"]
	path = Blind/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Blind/vendor/GLFW"]
	path = Blind/vendor/GLFW
	url = https://github.com/cococry/glfw
[submodule "Blind/vendor/imgui"]
	path = Blind/vendor/imgui
	url = https://github.com/cococry/imgui
	branch = docking
[submodule "Blind/vendor/glm"]
	path = Blind/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Blind/vendor/imguizmo"]
	path = Blind/vendor/imguizmo
	url = https://github.com/thecherno/imguizmo
[submodule "Blind/Blind/vendor/yaml-cpp"]
	path = Blind/Blind/vendor/yaml-cpp
	url = https://github.com/cococry/yaml-cpp
[submodule "Blind/vendor/yaml-cpp"]
	path = Blind/vendor/yaml-cpp
	url = https://github.com/cococry/yaml-cpp
